<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails обучение Sample_App | Связаться со мной</title>
  </head>
  <body>
    <center>
    <p>Страница Связаться со мной</p>
    </center>
  </body>
</html>